@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inconsolata:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Funnel Display", sans-serif;
}

.container {
    margin-top: 60px;
    padding: 70px 20px;
    border: 2px solid rgb(90, 45, 141);
    border-radius: 30px;
}

#titulo {
    margin-bottom: 50px;
    font-size: 30px;
}

#imagem-sentado {
    height: 500px;
    width: 550px;
    border-radius: 10px;
}

.botoes-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

.botoes {
    width: 120px;
    height: 50px;
    font-family: "Funnel Display", sans-serif;
    font-size: 20px;
    border: 1px solid rgb(90, 45, 141);
    border-radius: 10px;
    transition: 
    background-color 0.3s
    color 0.3s;
}

.botoes:hover {
    background-color: rgb(129, 89, 175);
    color: white;
}