@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inconsolata:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Funnel Display", sans-serif;
    transition:
    background-color 0.5s,
    color 0.5s;
}

body.claro {
    background-color: white;
    color: black;
}

body.escuro {
    background-color: black;
    color: white;
}

.container {
    padding: 55px 20px;
    border: 2px solid rgb(90, 45, 141);
    border-radius: 30px;
    box-shadow: 0 0 55px 1px rgba(90, 45, 141);
    min-width: 850px;
}

#tema {
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid rgb(90, 45, 141);
    border-radius: 10px;
    transition: 
    background-color 0.3s;
    box-shadow: 0 0 55px 1px rgba(90, 45, 141);
    cursor: pointer;
    margin-bottom: 20px;
}


body.claro #tema {
    background-color: white;
    color: black;
}

body.claro #tema:hover {
    background-color: rgb(129, 89, 175);
}

body.escuro #tema {
    background-color: rgb(30, 30, 30);
    color: white;
    border-color: rgb(180, 130, 250);
    box-shadow: 0 0 30px 2px rgba(180, 130, 250, 0.6);
}

body.escuro #tema:hover {
    background-color: rgb(129, 89, 175);
    color: white;
}

#titulo {
    margin-bottom: 50px;
    font-size: 30px;
}

#imagem {
    height: 550px;
    width: 700px;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
}

#imagem-sentado:hover {
    transform: translateY(-5px);
}

.botoes-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

.botoes {
    width: 120px;
    height: 50px;
    font-family: "Funnel Display", sans-serif;
    font-size: 20px;
    border: 1px solid rgb(90, 45, 141);
    border-radius: 10px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s,
        border-color 0.3s,
        box-shadow 0.3s;
}

body.claro .botoes {
    background-color: white;
    color: black;
}

body.claro .botoes:hover {
    background-color: rgb(129, 89, 175);
    color: white;
}

body.escuro .botoes {
    background-color: rgb(20, 20, 20);
    color: white;
}

body.escuro .botoes:hover {
    background-color: rgb(129, 89, 175);
    color: white;
}